
body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: rgb(198, 29, 29);
    font-size: 2rem;
}

.nav-link{
    color: #222222;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}


.f-info-links a:hover {
    text-decoration:underline ;
}

.f-info{
    text-align: center;
    /* width:; */
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

.f-info-socials,
.f-info-links,
.f-info-brand
 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card-text p{
    font-weight: 400;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* listings */
.listing-link{
    text-decoration: none;
}

/* new page */

.add-btn{
    background-color:rgb(198, 29, 29) !important ;
    border: none  !important;
}
/* edit page */

.edit-btn{
    background-color:rgb(198, 29, 29)  !important;
    border: none !important;
}

.edit-img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    object-fit: cover !important;
}

/* show page */
.show-img{
    height: 30vh;
}


.show-card{
    padding-left: 0;
    padding-right: 0;

}
.btns{
    display: flex;
}


/* review card */
.review-card{
    border: 1px solid black;
}